@model CustomerDataUploader.Models.UploadFileViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    //var fileSelected = false;

    $(document).ready(

        //function () {
        //    $('#fileName').change(
        //        function () {
        //            //$('#submitFile').removeAttr("disabled");
        //            fileSelected = true;
        //        }
        //    );
        //}

    );

</script>

@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
<div ng-controller="UploadController">
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileForm" }))
    {
        <input type="file" id="fileName" name="fileName" ng-change="fileChosen"/>
        <div ng-model="status">
                <text id="totalCount">{{status.total}} records</text>
            </div>
        <input type="submit" id="submitFile" class="btn-success" value="Start Upload"
               ng-show="{{status.fileSelected}}" />
    }
    <span ng-show="@(Model.customers != null)" >
        @Model.successCount / {{status.total}}
    </span>
</div>